* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #e8f2fe;
    --bg-color2: #34495e;
    --text-color: #333333;
    --main-color: #2980b9;
    --main-color2: #27ae60;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --green-color: #d4e7d4;
    --blue-color: #c9d6e6;
    --yellow-color: #f8f3d9;
    --lilly-color: #e1d6e1;
}

.dark-mode {
    --bg-color: #071727;
    --bg-color2: #34495e;
    --text-color: #e0e0e0;
    --main-color: #64ffda;
    --main-color2: #3a3a3a;
    --shadow-color: rgba(255, 255, 255, 0.2);
    --green-color: #2e4a35;
    --blue-color: #283a4a;
    --yellow-color: #4a4532;
    --lilly-color: #4a3a4a;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
    transition: background-color 1.5s ease, color 1.5s ease;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

h3{
    font-size: 1.2rem;
    padding: 1rem 0 0.5rem 0;
}

p, li{
    font-size: 1rem;
}

.hidden {
    display: none;
}

.header-container {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--bg-color);
    box-shadow: 0 4px 16px var(--shadow-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1.4rem 4%;
    color: var(--text-color);
}


.logo {
    font-size: 1.8rem;
    color: var(--text-color);
    font-weight: 500;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: none; /* Par défaut, les liens sont cachés en mobile */
    flex-wrap: wrap;
}

.nav-links a {
    font-size: 1.1rem;
    font-weight: 400;
    color: var(--text-color);
    margin-left: 2rem;
}

.nav-links a:hover {
    color: var(--main-color);
    transform: scale(1.1);
}

.nav-links a.active {
    color: var(--main-color);
    font-weight: 500;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons a {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-left: 2rem;
    cursor: pointer;
}

.menu-btn {
    font-size: 1.4rem;
    cursor: pointer;
}

#toggle-dark-mode {
    font-size: 1.4rem;
    cursor: pointer;
}

#toggle-dark-mode i {
    color: var(--main-color);
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }
    .menu-btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 20px;
        background-color: var(--bg-color);
        padding: 1rem;
        border-radius: 5px;
        width: 200px;
    }

    .nav-links.show {
        display: flex;
    }
}



section {
    min-height: 70vh;
    height: auto;
    padding: 10rem 4% 2rem;
}

/* home part */

.cl-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    text-align: center;
}



.home-img {
    animation: imageWiggle 2s infinite alternate ease-in-out;
    margin-top: 2rem;
}

@keyframes imageWiggle {
    0% { transform: perspective(40rem) rotateY(-15deg) scale(.93);}
    100% { transform: perspective(40rem) rotateY(15deg) scale(.93);}
}

.home-img img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border: var(--main-color) solid 0.5rem;
    border-radius: 3rem;
}

.home-content h2, .home_content h1, .home_content p {
    margin: 1rem 0;
}

.home-content h2 {
    font-size: 1.8rem;
}

.home-content h1 {
    font-size: 2.4rem;
    font-weight: 700;
}

.home-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

.social-media {
    margin: 2rem 0;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 0 0.5rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color2);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--bg-color2);
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}


@media (min-width: 768px) {
    .cl-home {
        flex-direction: row;
        text-align: left;
    }

    .home-content {
        max-width: 50%;
        padding-right: 2rem;
    }

    .home-img {
        max-width: 50%;
        padding-left: 2rem;
    }
}

@media (max-width: 860px) {
    .btn {
        font-size: 1.4rem; /* Réduire la taille de police */
    }
}

/* about part */

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.hobby-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 400 / 267; /* Maintain the aspect ratio */
    cursor: pointer;
    perspective: 1000px; /* Gives the 3D effect when flipping */
}

.hobby-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* Add a small border-radius */
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.hobby-item.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* Desktop: flip on hover */
@media (min-width: 769px) {
    .hobby-item:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}

/* Tablet and mobile: flip on click */
@media (max-width: 768px) {
    .hobby-item.flipped .flip-card-inner {
        transform: rotateY(180deg);
    }
}

/* Responsive styling */
@media (max-width: 768px) {
    /*.about {
        flex-direction: column;
    }*/

    .about-hobbies {
        margin-left: 0;
        margin-top: 20px;
    }

    .hobbies-grid {
        grid-template-columns: repeat(2, 1fr);
    }   
}

/* compétences part */

.services {
    background-color: var(--second-bg-color);
    padding-bottom: 10em;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services-box {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-color: var(--main-color);

}

.anim{
    animation: changeBackground 20s infinite;
}

.anim-2{
    animation: changeBackground-2 20s infinite;
}

.anim-3{
    animation: changeBackground-3 20s infinite;
}

.anim-4{
    animation: changeBackground-4 20s infinite;
}


.services-box i {
    padding: 0 1rem;
}

.services-box img {
    margin: 0 1rem;
}

.services-box p {
    display: block;
    font-size: 1rem;
    margin: 0.5rem 0 1rem;
}

.services-box h3 {
    font-size: 1.6rem;
    margin: 1rem;
}

.icon {
    width: 64px;
    height: 64px;
}

.mini-icon {
    width: 32px;
    height: 32px;
}

.mini-rect-icon {
    height: 32px;
}

.size{
    font-size: 4rem;
}

.mini-size {
    font-size: 2rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
.rotate {
    animation: rotate 5s linear infinite;
}
.bounce {
    animation: bounce 2s ease-in-out infinite;
}
.fade {
    animation: fade 3s ease-in-out infinite;
}
.scale {
    animation: scale 4s ease-in-out infinite;
}
.slide {
    animation: slide 6s ease-in-out infinite alternate;
}


@keyframes changeBackground {
    0% {
      background-color: var(--lilly-color);
    }
  
    25% {
      background-color: var(--blue-color);
    }
  
    50% {
      background-color: var(--green-color);
    }
  
    75% {
      background-color: var(--yellow-color);
    }
  
    100% {
      background-color: var(--lilly-color);
    }
  }

  @keyframes changeBackground-2 {
    0% {
      background-color: var(--green-color);
    }
  
    25% {
      background-color: var(--yellow-color);
    }
  
    50% {
      background-color: var(--lilly-color);
    }
  
    75% {
      background-color: var(--blue-color);
    }
  
    100% {
      background-color: var(--green-color);
    }
  }

  @keyframes changeBackground-3 {
    0% {
      background-color: var(--blue-color);
    }
  
    25% {
      background-color: var(--green-color);
    }
  
    50% {
      background-color: var(--yellow-color);
    }
  
    75% {
      background-color: var(--lilly-color);
    }
  
    100% {
      background-color: var(--blue-color);
    }
  }

  @keyframes changeBackground-4 {
    0% {
      background-color: var(--yellow-color);
    }
  
    25% {
      background-color: var(--lilly-color);
    }
  
    50% {
      background-color: var(--blue-color);
    }
  
    75% {
      background-color: var(--green-color);
    }
  
    100% {
      background-color: var(--yellow-color);
    }
  }

.main-color{
    color : var(--main-color);
}

.html5 {
    color: #d35439;
}

.css3 {
    color: #3972b6;
}

.js {
    color: #e1c951;
}

.react {
    color: #88dbf8;
}

.sass {
    color: #c16c9b;
}

.node {
    color: #6aa152;
}

.php {
    color: #777BB3;
}

.git {
    color: #f05133;
}

.github {
    color: #702789;
}


@media (max-width: 768px) {
    

    .services-container {
        grid-template-columns: 1fr; /* Une seule colonne en dessous de 768px */
    }

    .services-box {
        padding: 2rem 1rem 3rem;
    }


    .icon {
        width: 48px;
        height: 48px;
    }

    .size {
        font-size: 3rem;
    }
}


/* contact */

.mail-copy {
    display: flex;
    align-items: center;
}
.email-text {
    cursor: pointer;
    margin: 0 1rem;
}

.social-links {
    display: flex;
    justify-content:left;
    gap: 50px;
    margin-top: 2rem;
}


.mail-copy i,
.social-links i,
.mail-copy a,
.social-links a {
    cursor: pointer;
    color: var(--text-color);
    font-size: 2rem;
}

.mail-copy i:hover,
.social-links i:hover,
.mail-copy a:hover,
.social-links a:hover {
    color: var(--main-color);
}
    


/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

footer p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
    font-size: 1rem;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

footer a:hover {
    color: var(--main-color);
}

