
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');


* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color: #e8f2fe;
    --bg-color2: #e0e0e0;
    --text-color: #333333;
    --main-color: #2980b9;
    --main-color2: #27ae60;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --green-color: #d4e7d4;
    --blue-color: #c9d6e6;
    --yellow-color: #f8f3d9;
    --lilly-color: #e1d6e1;
}

.dark-mode {
    --bg-color: #071727;
    --bg-color2: #34495e;
    --text-color: #e0e0e0;
    --main-color: #64ffda;
    --main-color2: #3a3a3a;
    --shadow-color: rgba(255, 255, 255, 0.2);
    --green-color: #2e4a35;
    --blue-color: #283a4a;
    --yellow-color: #4a4532;
    --lilly-color: #4a3a4a;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
    transition: background-color 1.5s ease, color 1.5s ease;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h2{
    font-size: 1.3rem;
}

h3, form > label{
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

p, li{
    font-size: 1rem;
}

.hidden {
    display: none;
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: var(--bg-color);
    box-shadow: 0 4px 16px var(--shadow-color);
}

.header-container {
    display: flex;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    padding: 1.4rem 4%;
    color: var(--text-color);
}

.header-container > a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--main-color);
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    display: none;
    flex-wrap: wrap;
}

.nav-links a {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-left: 2rem;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--main-color);
    transform: scale(1.1);
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons button {
    font-size: 1.4rem;
    color: var(--main-color);
    margin-left: 2rem;
    cursor: pointer;
}

.menu-btn,
#toggle-dark-mode {
    font-size: 1.4rem;
    cursor: pointer;
    background: none;
    border: none;
}

#toggle-dark-mode i {
    color: var(--main-color);
}

@media (min-width: 768px) {
    .nav-links {
        display: flex;
    }
    .menu-btn {
        display: none;
    }
}

@media (max-width: 767px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 7rem;
        right: 2rem;
        background-color: var(--bg-color);
        padding: 1rem;
        border-radius: 5px;
        width: 20rem;
    }

    .nav-links.show {
        display: flex;
    }
}

main {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
}

section {
    min-height: 70vh;
    height: auto;
    padding: 10rem 4% 2rem;
}

/* home part */

.cl-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 2rem;
    text-align: center;
}


.social-media {
    margin: 2rem 0;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 1.6rem;
    color: var(--main-color);
    margin: 0 0.5rem;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--bg-color2);
    box-shadow: 0 0 1rem var(--main-color);
}

.home-content > a {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.4rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.2rem;
    color: var(--bg-color2);
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.home-img {
    animation: imageWiggle 2s infinite alternate ease-in-out;
    margin-top: 2rem;
}

@keyframes imageWiggle {
    0% { transform: perspective(40rem) rotateY(-15deg) scale(.93);}
    100% { transform: perspective(40rem) rotateY(15deg) scale(.93);}
}

.home-img img {
    width: 100%;
    max-width: 15rem;
    height: auto;
    border: var(--main-color) solid 0.5rem;
    border-radius: 3rem;
}


@media (min-width: 768px) {
    .cl-home {
        flex-direction: row;
        text-align: left;
    }

    .home-content {
        max-width: 50%;
        padding-right: 2rem;
    }

    .home-img {
        max-width: 50%;
        padding-left: 2rem;
    }
}

@media (max-width: 860px) {
    .btn {
        font-size: 1.4rem; /* Réduire la taille de police */
    }
}

/* about part */

.hobbies-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.cl-about .about-content h3 {
    margin-bottom: 0.5rem;
}

.cl-about .about-content p {
    line-height: 1.6;
    margin-bottom: 2rem;
}

.cl-about .about-content ul {
    list-style-type: disc;
    margin-left: 2rem;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}

.hobby-item {
    width: 100%;
    position: relative;
    overflow: hidden;
    aspect-ratio: 400 / 267; /* Maintain the aspect ratio */
    cursor: pointer;
    perspective: 100rem;
}

.hobby-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.hobby-item.flipped .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    top: 0;
    left: 0;
}

.flip-card-back {
    transform: rotateY(180deg);
}

/* Desktop: flip on hover */
@media (min-width: 769px) {
    .hobby-item:hover .flip-card-inner {
        transform: rotateY(180deg);
    }
}

/* Tablet and mobile: flip on click */
@media (max-width: 768px) {
    .hobby-item.flipped .flip-card-inner {
        transform: rotateY(180deg);
    }
}


@media (max-width: 768px) {
    .about-hobbies {
        margin-left: 0;
        margin-top: 2rem;
    }

    .hobbies-grid {
        grid-template-columns: repeat(2, 1fr);
    }   
}

/* compétences part */

.services {
    background-color: var(--second-bg-color);
    padding-bottom: 10em;
}

.services h2 {
    margin-bottom: 5rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.services-box {
    background: var(--bg-color);
    padding: 2rem;
    border-radius: 3rem;
    text-align: center;
    border: .2rem solid var(--bg-color);
    border-color: var(--main-color);

}

.anim{
    animation: changeBackground 20s infinite;
}

.anim-2{
    animation: changeBackground-2 20s infinite;
}

.anim-3{
    animation: changeBackground-3 20s infinite;
}

.anim-4{
    animation: changeBackground-4 20s infinite;
}


.services-box i {
    padding: 0 1rem;
}

.services-box img {
    margin: 0 1rem;
}

.services-box p {
    margin: 0.3rem 0;
}

.services-box h3 {
    margin: 1rem;
}

.icon {
    width: 64px;
    height: 64px;
}

.mini-icon {
    width: 32px;
    height: 32px;
}

.mini-rect-icon {
    height: 32px;
    width: 80px;
}

.size{
    font-size: 4rem;
}

.mini-size {
    font-size: 2rem;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}
@keyframes fade {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}
@keyframes scale {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
}
@keyframes slide {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
.rotate {
    animation: rotate 5s linear infinite;
}
.bounce {
    animation: bounce 2s ease-in-out infinite;
}
.fade {
    animation: fade 3s ease-in-out infinite;
}
.scale {
    animation: scale 4s ease-in-out infinite;
}
.slide {
    animation: slide 6s ease-in-out infinite alternate;
}


@keyframes changeBackground {
    0% {
      background-color: var(--lilly-color);
    }
    25% {
      background-color: var(--blue-color);
    }
    50% {
      background-color: var(--green-color);
    }
    75% {
      background-color: var(--yellow-color);
    }
    100% {
      background-color: var(--lilly-color);
    }
  }

  @keyframes changeBackground-2 {
    0% {
      background-color: var(--green-color);
    }
    25% {
      background-color: var(--yellow-color);
    }
    50% {
      background-color: var(--lilly-color);
    }
    75% {
      background-color: var(--blue-color);
    }
    100% {
      background-color: var(--green-color);
    }
  }

  @keyframes changeBackground-3 {
    0% {
      background-color: var(--blue-color);
    }
    25% {
      background-color: var(--green-color);
    }
    50% {
      background-color: var(--yellow-color);
    }
    75% {
      background-color: var(--lilly-color);
    }
    100% {
      background-color: var(--blue-color);
    }
  }

  @keyframes changeBackground-4 {
    0% {
      background-color: var(--yellow-color);
    }
    25% {
      background-color: var(--lilly-color);
    }
    50% {
      background-color: var(--blue-color);
    }
    75% {
      background-color: var(--green-color);
    }
    100% {
      background-color: var(--yellow-color);
    }
  }

.main-color{
    color : var(--main-color);
}

.html5 {
    color: #d35439;
}

.css3 {
    color: #3972b6;
}

.js {
    color: #e1c951;
}

.react {
    color: #88dbf8;
}

.sass {
    color: #c16c9b;
}

.node {
    color: #6aa152;
}

.php {
    color: #777BB3;
}

.git {
    color: #f05133;
}

.github {
    color: #702789;
}


@media (max-width: 768px) {
    .services-container {
        grid-template-columns: 1fr;
    }

    .services-box {
        padding: 2rem 1rem 3rem;
    }

    .icon {
        width: 4.8rem;
        height: 4.8rem;
    }

    .size {
        font-size: 3rem;
    }
}

/* projects */

.projects-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    align-items: center;
    gap: 2.5rem;
}

.card {
    border-radius: 2rem;
    padding: 5px;
    box-shadow: 0 4px 16px var(--shadow-color);
    border: 2px solid transparent;
    transition: border 0.3s ease;
}

.card:hover,
.card:focus,
.card:active {
    border: 2px solid var(--main-color);
}

.card > img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: 2rem 2rem 0 0;
}

.card p {
    padding: 0 1rem;
    min-height: 3rem;
}

.logos-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    gap: 1rem;
}

.brands, .links {
    display: flex;
    gap: 0.5rem;
}

.fa-question-circle {
    cursor: pointer;
}
/* modals */
.modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
}

.modal-content {
    background: var(--bg-color);
    margin: 15% auto;
    padding: 2rem;
    border-radius: 2rem;
    border: .2rem solid var(--main-color);
    width: 80%; 
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
    margin: 1rem 0;
}

.image-container img {
    max-width: 100%;
    height: auto;
    flex: 1 1 calc(50% - 0.5rem);
    max-width: 400px;
    border-radius: 2rem;
    height: 300px;
    object-fit: cover;
    box-shadow: 0 4px 16px var(--shadow-color);
    border: 2px solid transparent;
    padding: 5px;
    transition: border 0.3s ease;
}

.image-container img:hover,
.image-container img:focus,
.image-container img:active {
    border: 2px solid var(--main-color);
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }

    .image-container img {
        flex: 1 1 100%;
        max-width: 100%; /* Ensures the image does not exceed the container width */
    }
}

.close {
    color: var(--main-color);
    float: right;
    font-size: 2.8rem;
    font-weight: 600;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* contact */



.mail-copy, .phone-coords {
    display: flex;
    align-items: center;
}
.email-text {
    cursor: pointer;
    margin: 0 1rem;
}

.social-links {
    display: flex;
    justify-content:left;
    gap: 5rem;
    margin-top: 2rem;
}

.phone-coords i {
    color: var(--text-color);
    font-size: 2rem;
    margin-right: 1rem;  
}

.mail-copy i,
.social-links i,
.mail-copy a,
.social-links a {
    cursor: pointer;
    color: var(--text-color);
    font-size: 2rem;
}

.phone-coords i:hover,
.mail-copy i:hover,
.social-links i:hover,
.mail-copy a:hover,
.social-links a:hover {
    color: var(--main-color);
}
    

form {
    max-width: 600px;
     padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: var(--bg-color2);
}

label {
    color: var(--main-color);
}

input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    font-size: 1.2rem;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    border-radius: 5px;
}

.button-container {
    text-align: right;
}

button{
    cursor: pointer;
}

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 4%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

footer p {
    flex-grow: 1;
    text-align: center;
    margin: 0;
}

footer a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.5rem;
}

footer a:hover {
    color: var(--main-color);
}